.customPage {
    h5 {
        // h4 
        font-size: 20px !important;
        color: #1A2332 !important;
        font-weight: 700 !important;
        font-style: normal !important;
    }
}